<div class="jumbotron jumbotron-fluid" style="background-image: url('<%= asset_path 'sample.jpg' %>'); background-position: center; background-size: cover; color: #192f60; height: 100vh; margin-bottom: 0;">
  <div class="contaoner">
    <div class="row ml-5">
      <div class="col-md-5" style="background-color: rgba( 255, 255, 255, 0.5);">
        <h1 class="display-5" style="color: #192f60;">Welcome to WanSpot</h1>
        <h2 class="lead" style="color: #192f60;">愛犬との素敵な思い出を共有しませんか？</h2>
        <hr class="my-4">
        <p style="color: #192f60;">WanSpotは、愛犬家のためのSNSアプリです。素敵なスポットを見つけて投稿してみてください🐾</p>
      </div>
    </div>
 </div>
</div>
