<div class="jumbotron" style="background-image: url('/assets/sample.jpg'); background-position: center; color: black; height: 800px;">
  <div class="contaoner">
    <div class="row ml-5">
      <div class="col-md-5" style="background-color: rgba( 255, 255, 255, 0.5);">
        <h1 class="display-5" style="color: black;">Welcome to WanSpot</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
    </div>
 </div>
</div>
