<div class="card-list-container py-5" style="padding-left: 15px; padding-right: 15px; display: flex; flex-wrap: wrap;">
  <h2 class='title'>ハッシュタグ #<%= @tag.hashname %></h2>

    <%= render 'posts/index', posts: @posts %>


</div>
