<div class="card-list-container py-5" style="padding-left: 15px; padding-right: 15px; display: flex; flex-wrap: wrap;">
  <h2 class='title'>ハッシュタグ #<%= @tag.hashname %></h2>

    <!--# モーダルの周囲を薄暗くするマスク-->
    <div id="mask" class="hidden"></div>
    <!--# モーダル-->
    <div id="modal" class="hidden"></div>

    <%= render 'posts/index', posts: @posts %>


</div>
