<div class="card-list-container py-5" style="padding-left: 15px; padding-right: 15px; display: flex; flex-wrap: wrap; justify-content:center;">
  <div class="row mx-auto">
    <h2 class='col-md-12'>投稿一覧</h2>
  </div>
  <!--# モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--# モーダル-->
  <div id="modal" class="hidden"></div>


  <%= render 'posts/index', posts: @posts %>

  <div class="row d-block mx-auto">
    <div class="mb-2">
    <%= paginate @posts %>
    </div>
  </div>
</div>

